<a href="https://colab.research.google.com/github/arindamdeyofficial/houseprediction/blob/main/houseprediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/arindamdeyofficial/houseprediction/main/housing.csv')

In [13]:
df.shape
df.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [14]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [15]:
df.groupby('ocean_proximity').count()

                 longitude  latitude  ...  median_income  median_house_value
ocean_proximity                       ...
<1H OCEAN             9136      9136  ...           9136                9136
INLAND                6551      6551  ...           6551                6551
ISLAND                   5         5  ...              5                   5
NEAR BAY              2290      2290  ...           2290                2290
NEAR OCEAN            2658      2658  ...           2658                2658

[5 rows x 9 columns]