<a href="https://colab.research.google.com/github/arindamdeyofficial/houseprediction/blob/main/houseprediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/arindamdeyofficial/houseprediction/main/housing.csv')

In [ ]:
df.shape
df.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [ ]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [ ]:
df.groupby('ocean_proximity').count()

                 longitude  latitude  ...  median_income  median_house_value
ocean_proximity                       ...
<1H OCEAN             9136      9136  ...           9136                9136
INLAND                6551      6551  ...           6551                6551
ISLAND                   5         5  ...              5                   5
NEAR BAY              2290      2290  ...           2290                2290
NEAR OCEAN            2658      2658  ...           2658                2658

[5 rows x 9 columns]

In [58]:
df.isna().any()

longitude             False
latitude              False
housing_median_age    False
total_rooms           False
total_bedrooms         True
population            False
households            False
median_income         False
median_house_value    False
ocean_proximity       False
dtype: bool

In [ ]:
df.count()

longitude             20640
latitude              20640
housing_median_age    20640
total_rooms           20640
total_bedrooms        20433
population            20640
households            20640
median_income         20640
median_house_value    20640
ocean_proximity       20640
dtype: int64

In [38]:
df[df.columns[df.isna().any()]]

       total_bedrooms
0               129.0
1              1106.0
2               190.0
3               235.0
4               280.0
...               ...
20635           374.0
20636           150.0
20637           485.0
20638           409.0
20639           616.0

[20640 rows x 1 columns]

In [54]:
df[df.isnull().any(axis=1)]

       longitude  latitude  ...  median_house_value  ocean_proximity
290      -122.16     37.77  ...            161900.0         NEAR BAY
341      -122.17     37.75  ...             85100.0         NEAR BAY
538      -122.28     37.78  ...            173400.0         NEAR BAY
563      -122.24     37.75  ...            247100.0         NEAR BAY
696      -122.10     37.69  ...            178400.0         NEAR BAY
...          ...       ...  ...                 ...              ...
20267    -119.19     34.20  ...            220500.0       NEAR OCEAN
20268    -119.18     34.19  ...            167400.0       NEAR OCEAN
20372    -118.88     34.17  ...            410700.0        <1H OCEAN
20460    -118.75     34.29  ...            258100.0        <1H OCEAN
20484    -118.72     34.28  ...            218600.0        <1H OCEAN

[207 rows x 10 columns]

In [53]:
df[df.isnull().any(axis=1)].count()

longitude             207
latitude              207
housing_median_age    207
total_rooms           207
total_bedrooms          0
population            207
households            207
median_income         207
median_house_value    207
ocean_proximity       207
dtype: int64